 /* Style the video: 100% width and height to cover the entire window */
 body, html {
	height: 100%;
	margin: 0;
	overflow: hidden; /* Isso irá evitar rolagem */
}
 
 #myVideo {
	position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }

  .content {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 80%;
	height: 70%;
	top: 15%;
	left: 10%;
	padding: 20px;
	overflow: auto;
	border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .buttons {
	width: auto;
	position: fixed;
	top: 5%;
	left: 10%;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
  }
  
  #myBtn:hover {
	background: #ddd;
	color: black;
  }

/** Project cards **/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: block;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

.card-content p {
    margin: 0.5em 0 0;
    font-size: 0.9em;
    color: #555;
}

/** Education and experience cards **/
.experience-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 20px); /* Ajuste a largura conforme necessário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.experience-card:hover {
    transform: scale(1.05);
}

.experience-logo {
    width: 100%;
    height: 150px; /* Ajuste conforme necessário */
    object-fit: contain;
    background-color: #f9f9f9;
    padding: 10px;
}

.experience-content {
    padding: 15px;
}

.experience-content h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #555;
}

.work-time {
    margin: 0 0 10px 0;
    font-size: 0.9em;
    color: #555;
}

.experience-content p {
    margin: 0;
    font-size: 0.9em;
    color: #333;
}

/** icons **/
.social-links {
    display: flex;
	background: #fff;
    justify-content: center;
    margin-top: 20px;
}

.social-links .icon {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-links .icon:hover {
    transform: scale(1.1);
}

/** resume stuff **/
.resume-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

iframe {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
}